<a href="https://colab.research.google.com/github/IVANJR2025/data_analytics_libs/blob/main/dados_sal%C3%A1rios_TI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ABRINDO UM ARQUIVO DA BASE DE DADOS DO KAGGLE, PARA TRATAR ESTA BASE. A MESMA SE REFERE A PROFISSÕES EM TI, EMPRESAS E RESPECTIVOS SALÁRIOS

In [3]:
file_ = open("/content/Dataset salary 2024.csv")
lines = []

for line in file_:
  lines.append(line)

In [18]:
lines[:10]

['work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size\n',
 '2024,SE,FT,AI Engineer,202730,USD,202730,US,0,US,M\n',
 '2024,SE,FT,AI Engineer,92118,USD,92118,US,0,US,M\n',
 '2024,SE,FT,Data Engineer,130500,USD,130500,US,0,US,M\n',
 '2024,SE,FT,Data Engineer,96000,USD,96000,US,0,US,M\n',
 '2024,SE,FT,Machine Learning Engineer,190000,USD,190000,US,0,US,M\n',
 '2024,SE,FT,Machine Learning Engineer,160000,USD,160000,US,0,US,M\n',
 '2024,MI,FT,ML Engineer,400000,USD,400000,US,0,US,M\n',
 '2024,MI,FT,ML Engineer,65000,USD,65000,US,0,US,M\n',
 '2024,EN,FT,Data Analyst,101520,USD,101520,US,0,US,M\n']

In [4]:
fields = lines[0].split(",")
lines = lines[1:]
fields

['work_year',
 'experience_level',
 'employment_type',
 'job_title',
 'salary',
 'salary_currency',
 'salary_in_usd',
 'employee_residence',
 'remote_ratio',
 'company_location',
 'company_size\n']

In [6]:
#Como percebemos, a última linha possui o símbolo de "pular linha, ou seja, o n" Irei tratar essa última linha
#para retirar este "n"

In [5]:
fields[-1][:-1]

'company_size'

In [21]:
fields[-1] = fields[-1][:-1]

In [6]:
fields

['work_year',
 'experience_level',
 'employment_type',
 'job_title',
 'salary',
 'salary_currency',
 'salary_in_usd',
 'employee_residence',
 'remote_ratio',
 'company_location',
 'company_size\n']

Agora irei criar um dicionário de forma que, cada instância dos meus dados, possa ser alimentada com alguma informação

In [7]:
dados = {} #criando o dicionário

#criando as chaves dos dicionários
for campo in fields:
  dados[campo] = []

In [8]:
dados

{'work_year': [],
 'experience_level': [],
 'employment_type': [],
 'job_title': [],
 'salary': [],
 'salary_currency': [],
 'salary_in_usd': [],
 'employee_residence': [],
 'remote_ratio': [],
 'company_location': [],
 'company_size\n': []}

In [9]:
#Preenchendo os dicionários com dados
for line in lines:
  infos = line.split(',')

  if len(infos) != len(fields):
    pass
  else:
    for i in range(len(fields)):
      if i == len(fields) - 1:
        infos[i] = infos[i][:-1]
      dados[fields[i]].append(infos[i])

In [10]:
dados.keys()

dict_keys(['work_year', 'experience_level', 'employment_type', 'job_title', 'salary', 'salary_currency', 'salary_in_usd', 'employee_residence', 'remote_ratio', 'company_location', 'company_size\n'])

In [11]:
dados['salary'][:10]

['202730',
 '92118',
 '130500',
 '96000',
 '190000',
 '160000',
 '400000',
 '65000',
 '101520',
 '45864']

In [12]:
#Unificando todo o processo

file_ = open("/content/Dataset salary 2024.csv") #Abrir o arquivo
lines = [] #Criando uma lista para armazenar cada linha de dados do arquivo

#Armazenar as linhas do arquivo
for line in file_:
  lines.append(line)

fields = lines[0].split(',') #Extraindo dados da primeira linha como títulos das variáveis
lines = lines[1:] #Removendo a primeira linha
fields[-1] = fields[-1][:-1] #Removendo o "n" da última linha

dados = {} #Criando o dicionário
for campo in fields:
  dados[campo] = [] #Criando as chaves do dicionário

#Preenchendo os dicionários com dados
for line in lines:
  infos = line.split(',')

  if len(infos) != len(fields): #Verificando se os dados estão ok
    pass
  else:
    for i in range(len(fields)):
      if i == len(fields) - 1:
        infos[i] = infos[i][:-1]
      dados[fields[i]].append(infos[i])

Agora vamos unificar todo o processo, utilizando uma função, a qual, sempre que eu quiser verificar alguns dados, basta eu chamar a função.

In [13]:
def read_dataset_salary():

  file_ = open("/content/Dataset salary 2024.csv")
  lines = []


  for line in file_:
    lines.append(line)

  fields = lines[0].split(',')
  lines = lines[1:]
  fields[-1] = fields[-1][:-1]

  dados = {}
  for campo in fields:
    dados[campo] = []


  for line in lines:
    infos = line.split(',')

    if len(infos) != len(fields):
      pass
    else:
      for i in range(len(fields)):
        if i == len(fields) - 1:
          infos[i] = infos[i][:-1]
        dados[fields[i]].append(infos[i])
  return dados

In [14]:
dados = read_dataset_salary()

In [15]:
dados['salary'][:10]

['202730',
 '92118',
 '130500',
 '96000',
 '190000',
 '160000',
 '400000',
 '65000',
 '101520',
 '45864']

In [1]:
#Uma importante prática é a documentação de todas as funções que fazemos. Este processo de chama docstring e se faz da seguinte forma:

"""
(pt/br) Esta função ler um arquivo csv e retorna os dados em um dicionário
:param name_file: nome do arquivo
:param sep: separador de cada variávelutilizado pelo arquivo csv. '.' é o default
:return dados: dicionário , onde as chaves são os nomes das variáveis e os dados de cada variável estão armazenados em uma lista

>>> dados = read_dataset_salary()
>>> dados['salary'][:10]
"""

"\n(pt/br) Esta função ler um arquivo csv e retorna os dados em um dicionário \n:param name_file: nome do arquivo\n:param sep: separador de cada variávelutilizado pelo arquivo csv. '.' é o default\n:return dados: dicionário , onde as chaves são os nomes das variáveis e os dados de cada variável estão armazenados em uma lista\n\n>>> dados = read_dataset_salary()\n>>> dados['salary'][:10]\n"

Este meu arquivo apresenta todas as variáveis em str, vamos tratar as que são interiros

In [18]:
ano_tratado = [eval(x) for x in dados['work_year']]
ano_tratado[:10]

[2024, 2024, 2024, 2024, 2024, 2024, 2024, 2024, 2024, 2024]

In [19]:
dados['work_year'] = ano_tratado

Se eu tenho um arquivo com diversos outros campos para serem modificados, eu utilizo o conceito de função, para não ter que fazer um por vez

In [20]:
def convert_to_number(dados, field):

  """
  Esta função considera um dicionário de uma entrada e uma chava deste dicionário e considerando que o valor seja uma lista con valores de texto,
  esta função converte a lista em valores numéricos

  :param dados: nome do dicionário
  :param field: nome da chave do dicionárioque tem como valor uma lista de números como texto

  cuidado: Esta função não tem return, ela modifica o dicionário de entrada
  """
  field_tratado = [eval (x) for x in dados[field]]
  dados[field] = field_tratado

In [21]:
dados['salary'][:10]

['202730',
 '92118',
 '130500',
 '96000',
 '190000',
 '160000',
 '400000',
 '65000',
 '101520',
 '45864']

In [24]:
convert_to_number(dados, 'salary')

In [25]:
dados['salary'][:10]

[202730, 92118, 130500, 96000, 190000, 160000, 400000, 65000, 101520, 45864]

In [26]:
convert_to_number(dados, 'salary_in_usd')

In [27]:
convert_to_number(dados, 'remote_ratio')

In [28]:
dados['salary_in_usd'][:5]

[202730, 92118, 130500, 96000, 190000]

In [29]:
dados['remote_ratio'][:5]

[0, 0, 0, 0, 0]

FUNÇÕES LAMBDA. TIPOS DE FUNÇÕES QUE NÃO POSSUEM NOMES
Vamos classificar o trabalho como remoto ou não com a seguinte classificação:
remoto: 0
presencial:100
híbrido: 0:100

In [32]:
f = lambda x: 'remoto' if x == 0 else 'presencial' if x == 100 else 'híbrido'

In [33]:
f(0)

'remoto'

In [34]:
f(50)

'híbrido'

In [35]:
dados['remote'] = list(map(lambda x: 'remoto' if x == 0 else 'presencial' if x == 100 else 'híbrido', dados['remote_ratio']))

In [37]:
dados['remote'][:10]

['remoto',
 'remoto',
 'remoto',
 'remoto',
 'remoto',
 'remoto',
 'remoto',
 'remoto',
 'remoto',
 'remoto']

CALCULANDO O R²

In [38]:
sqrt = lambda x: x**(1/2)

In [39]:
sqrt(100)

10.0

In [40]:
distancia_quadrado = lambda x,media: (x - media)**2

In [54]:
def medidas_resumo(lista):

  """
  Esta função calcula para uma lista de valores numéricos: quantidade de elementos, soma de todos os elementos, média entre os elementos, variância populacional entre os elementos.
   :param lista: lista de valores numéricos
   :return contagem: quantidade de elementos
   :return total: soma de todos os elementos
   :return media: média entre os elementos
   :return varpop: variância populacional entre os elementos

   >>> lista = [1,2,3,4,5]
   >>> medidas_resumo(lista)
   (6,21,3.5,1,707825)
   """

  contagem = len(lista)
  total = sum(lista)
  media = total/contagem
  diff_quadrado = [distancia_quadrado(x, media) for x in lista]
  varp = sum(diff_quadrado)/contagem

  return contagem, total, media, varp

In [55]:
contagem, total, média, varp = medidas_resumo(dados['salary_in_usd'])
contagem, total, média, varp

(16534, 2474921187, 149686.77797266238, 4692691352.57578)

In [56]:
#identificando os grupos das variáveis qualitativas

remotos = list(set(dados['remote']))
remotos

['remoto', 'híbrido', 'presencial']

In [57]:
def distinct_groups(lista):
  return list(set(lista))

In [58]:
jobs = distinct_groups(dados['job_title'])
jobs

['ETL Engineer',
 'Analytics Engineering Manager',
 'Data Management Specialist',
 'Manager Data Management',
 'Data Operations Associate',
 'Data Manager',
 'Applied Scientist',
 'Lead Data Engineer',
 'Big Data Engineer',
 'Robotics Software Engineer',
 'Marketing Data Analyst',
 'AI Engineer',
 'Data Analyst',
 'Data Scientist',
 'Data Strategy Manager',
 'Robotics Engineer',
 'Deep Learning Researcher',
 'Machine Learning Research Engineer',
 'Data Scientist Lead',
 'Managing Director Data Science',
 'Director of Data Science',
 'Data Modeler',
 'Business Intelligence Lead',
 'Data Management Consultant',
 'Data Operations Engineer',
 'Staff Data Scientist',
 'Principal Data Architect',
 'Consultant Data Engineer',
 'Big Data Developer',
 'Quantitative Research Analyst',
 'Admin & Data Analyst',
 'Data Analytics Associate',
 'BI Developer',
 'Data Science Analyst',
 'Head of Machine Learning',
 'Deep Learning Engineer',
 'Azure Data Engineer',
 'MLOps Engineer',
 'Lead Data Scientist',
 'Staff Machine Learning Engineer',
 'Bear Robotics',
 'Data Analytics Consultant',
 'ML Engineer',
 'AI Research Engineer',
 'Decision Scientist',
 'Machine Learning Engineer',
 'Business Data Analyst',
 'Data Developer',
 'Applied Machine Learning Engineer',
 'Data Analyst Lead',
 'Lead Machine Learning Engineer',
 'Data Science Tech Lead',
 'Data Architect',
 'Data Science Manager',
 'NLP Engineer',
 'Data Science Lead',
 'Machine Learning Infrastructure Engineer',
 'AI Programmer',
 'Director of Business Intelligence',
 'Data Science Practitioner',
 'Prompt Engineer',
 'Data Operations Analyst',
 'CRM Data Analyst',
 'AI Architect',
 'Data Quality Analyst',
 'BI Data Engineer',
 'ETL Developer',
 'Data Science',
 'Encounter Data Management Professional',
 'Business Intelligence Analyst',
 'Data Science Engineer',
 'Computer Vision Engineer',
 'Machine Learning Operations Engineer',
 'Cloud Data Engineer',
 'AI Software Engineer',
 'Research Scientist',
 'Cloud Database Engineer',
 'Insight Analyst',
 'Data Visualization Specialist',
 'Machine Learning Researcher',
 'Data Operations Specialist',
 'Marketing Data Scientist',
 'Applied Research Scientist',
 'Financial Data Analyst',
 'Data Visualization Analyst',
 'Computational Biologist',
 'Machine Learning Scientist',
 'Data Science Director',
 'Power BI Developer',
 'Business Intelligence Engineer',
 'Head of Data',
 'Principal Machine Learning Engineer',
 'Business Intelligence Data Analyst',
 'Business Intelligence',
 'Research Analyst',
 'AI Research Scientist',
 'Marketing Data Engineer',
 'Business Intelligence Manager',
 'Cloud Data Architect',
 'Computer Vision Software Engineer',
 'Machine Learning Manager',
 'Data Operations Manager',
 'Data Quality Manager',
 'Big Data Architect',
 'Business Intelligence Specialist',
 'Data Reporting Analyst',
 'Data Product Manager',
 'Data Science Consultant',
 'Business Intelligence Developer',
 'Machine Learning Software Engineer',
 'Machine Learning Specialist',
 'Finance Data Analyst',
 'Machine Learning Modeler',
 'Software Data Engineer',
 'Head of Data Science',
 'AI Product Manager',
 'Data Management Analyst',
 'Applied Data Scientist',
 'Research Engineer',
 'Autonomous Vehicle Technician',
 'Data Quality Engineer',
 'BI Analyst',
 'Product Data Analyst',
 'Data DevOps Engineer',
 'Principal Data Engineer',
 'ML Ops Engineer',
 'Data Analytics Manager',
 'AI Developer',
 'Analytics Engineer',
 'Data Specialist',
 'Data Integration Engineer',
 'BI Data Analyst',
 'AI Scientist',
 'Machine Learning Developer',
 'Applied Machine Learning Scientist',
 'Data Pipeline Engineer',
 'Data Lead',
 'Compliance Data Analyst',
 'Data Analytics Specialist',
 'Data Analytics Lead',
 'Data Strategist',
 'Data Engineer',
 'Principal Data Analyst',
 'Principal Data Scientist',
 'Sales Data Analyst',
 'Data Integration Developer',
 'AWS Data Architect',
 'Data Infrastructure Engineer',
 'Staff Data Analyst',
 'Data Analytics Engineer',
 'Data Integration Specialist',
 'Data Visualization Engineer',
 'Data Modeller',
 'Lead Data Analyst',
 'Data Product Owner']

In [60]:
grupos = remotos.copy()

salario_groups = {}

for group in grupos:
  salario_groups[group] = {'salaries':[]}

for i in range(len(dados['remote'])):
  salario_groups[dados['remote'][i]]['salaries'].append(dados['salary_in_usd'][i])

In [62]:
salario_groups.keys()

dict_keys(['remoto', 'híbrido', 'presencial'])

In [63]:
salario_groups['remoto']

{'salaries': [202730,
  92118,
  130500,
  96000,
  190000,
  160000,
  400000,
  65000,
  101520,
  45864,
  172469,
  114945,
  200000,
  150000,
  170000,
  130000,
  222200,
  136000,
  128000,
  81500,
  93838,
  69535,
  75000,
  65000,
  150000,
  125000,
  260570,
  167030,
  120000,
  100000,
  100000,
  80000,
  145000,
  95000,
  120000,
  70000,
  130000,
  110000,
  240000,
  180000,
  202800,
  115000,
  100000,
  56250,
  69230,
  57692,
  112300,
  75100,
  178200,
  87000,
  138000,
  72000,
  252000,
  168000,
  190000,
  100000,
  150650,
  106700,
  192300,
  107900,
  257600,
  146000,
  90000,
  70000,
  158200,
  74100,
  231400,
  170955,
  137000,
  60300,
  101098,
  59469,
  166363,
  103977,
  166000,
  104000,
  170400,
  123800,
  251250,
  120750,
  33333,
  28666,
  189615,
  150385,
  283800,
  234700,
  164000,
  131000,
  57008,
  38651,
  144300,
  104800,
  212750,
  157250,
  265000,
  170000,
  130000,
  104000,
  220000,
  110000,
  85000,
  210850,
  145400,
  140000,
  110000,
  117647,
  138000,
  86000,
  199700,
  70800,
  175000,
  130000,
  277000,
  173000,
  90000,
  70000,
  137000,
  60400,
  197689,
  152311,
  209500,
  147500,
  220600,
  140100,
  236872,
  148045,
  143896,
  99208,
  250000,
  160000,
  200000,
  25000,
  137500,
  81500,
  209700,
  161300,
  249000,
  216000,
  170040,
  113360,
  178250,
  110500,
  83300,
  47500,
  138000,
  120000,
  250000,
  200000,
  210554,
  131596,
  170000,
  130000,
  159550,
  113000,
  135000,
  100000,
  245400,
  139000,
  190000,
  167000,
  304000,
  244000,
  62500,
  55000,
  247600,
  127300,
  210000,
  170000,
  222200,
  136000,
  156000,
  94000,
  212800,
  124100,
  195000,
  140000,
  199068,
  150000,
  250900,
  173100,
  95000,
  80000,
  66666,
  44444,
  138000,
  86000,
  186754,
  101000,
  234000,
  146000,
  170000,
  150000,
  157500,
  149900,
  169000,
  105000,
  106336,
  83150,
  149925,
  91260,
  185000,
  25000,
  209700,
  144600,
  175000,
  117000,
  77280,
  58000,
  157144,
  93101,
  160769,
  115384,
  260000,
  136000,
  189000,
  145400,
  200070,
  107730,
  154000,
  103000,
  223000,
  205000,
  209000,
  120000,
  200000,
  160000,
  252000,
  168000,
  222200,
  136000,
  150000,
  127500,
  142136,
  123596,
  223500,
  109100,
  64500,
  46500,
  180500,
  96200,
  86940,
  66000,
  77280,
  58000,
  51772,
  47778,
  166000,
  104000,
  97000,
  62000,
  176000,
  72700,
  42457,
  39245,
  296400,
  159600,
  158200,
  79000,
  153000,
  135000,
  145000,
  125000,
  278000,
  196000,
  218000,
  145000,
  100000,
  86220,
  190000,
  150000,
  110000,
  95000,
  110000,
  90000,
  140000,
  110000,
  200000,
  147000,
  148000,
  125000,
  150000,
  110000,
  200000,
  175000,
  370000,
  220000,
  38888,
  30000,
  174000,
  132000,
  720000,
  170000,
  200000,
  160000,
  150000,
  111000,
  302900,
  302900,
  179500,
  149500,
  190000,
  148000,
  162225,
  139050,
  180000,
  139000,
  62500,
  55000,
  252000,
  168000,
  85000,
  74880,
  260000,
  160000,
  234000,
  176000,
  155000,
  100000,
  184000,
  123000,
  159550,
  113000,
  222300,
  119700,
  120000,
  75000,
  166000,
  110781,
  63162,
  37154,
  195800,
  161900,
  142166,
  88854,
  137000,
  60400,
  257500,
  190000,
  176000,
  106500,
  125500,
  78000,
  192500,
  140000,
  220000,
  96600,
  195500,
  117300,
  156000,
  124000,
  178090,
  81978,
  142500,
  90000,
  171210,
  92190,
  74276,
  60437,
  125000,
  90000,
  132600,
  80845,
  250000,
  150000,
  79000,
  72000,
  187415,
  114080,
  187415,
  114080,
  277000,
  173000,
  175000,
  117000,
  193000,
  84600,
  220000,
  96600,
  170000,
  130000,
  172000,
  75600,
  201000,
  125500,
  61700,
  55000,
  56250,
  43750,
  292300,
  149700,
  165600,
  65800,
  148000,
  118000,
  62500,
  62500,
  252000,
  168000,
  149076,
  82365,
  160000,
  120000,
  160000,
  115000,
  193000,
  128000,
  220000,
  170000,
  189000,
  136000,
  185000,
  79600,
  210000,
  160000,
  200000,
  160000,
  150000,
  90000,
  150000,
  130000,
  189000,
  160000,
  255475,
  185800,
  220000,
  170000,
  220000,
  170000,
  260000,
  180000,
  140000,
  108500,
  78800,
  252000,
  181000,
  147500,
  85000,
  175000,
  117000,
  102927,
  95010,
  258750,
  191250,
  177100,
  130900,
  179000,
  112000,
  206000,
  97335,
  93750,
  81250,
  207300,
  114700,
  120000,
  100000,
  306000,
  151600,
  167500,
  138500,
  194000,
  125500,
  118750,
  75000,
  194500,
  147368,
  165000,
  117000,
  170000,
  148000,
  500000,
  80000,
  241000,
  189000,
  167500,
  138500,
  273000,
  166500,
  106260,
  82000,
  105000,
  90000,
  170000,
  140000,
  170000,
  145000,
  233000,
  140000,
  202800,
  108200,
  190000,
  150000,
  43750,
  37500,
  212800,
  115100,
  174000,
  116000,
  181700,
  64300,
  33500,
  33500,
  185000,
  81000,
  96200,
  69800,
  77280,
  58000,
  33500,
  33500,
  178200,
  74800,
  164500,
  67200,
  165000,
  117000,
  185000,
  81000,
  287800,
  287800,
  150000,
  110000,
  250000,
  200000,
  200000,
  160000,
  172000,
  75600,
  291340,
  194240,
  191070,
  135900,
  47500,
  43750,
  282000,
  171000,
  260000,
  136000,
  152800,
  149282,
  228000,
  134000,
  86666,
  60000,
  199500,
  97400,
  155000,
  139500,
  140000,
  100000,
  83300,
  47500,
  208500,
  174000,
  170000,
  130000,
  240000,
  180000,
  90000,
  70000,
  138000,
  110400,
  145000,
  115000,
  185000,
  160000,
  210000,
  160000,
  128750,
  61875,
  240000,
  178000,
  91200,
  58200,
  122000,
  94500,
  152300,
  76200,
  223000,
  185000,
  155000,
  120000,
  95000,
  213000,
  120700,
  128000,
  81500,
  46000,
  40000,
  75000,
  68750,
  176627,
  106029,
  193000,
  84600,
  148017,
  87069,
  175000,
  117000,
  234000,
  146000,
  120000,
  105000,
  43500,
  41000,
  234000,
  117000,
  211888,
  154100,
  185100,
  148500,
  148500,
  117000,
  370000,
  220000,
  180000,
  140000,
  247300,
  139800,
  213000,
  120700,
  135000,
  115000,
  130000,
  100000,
  100000,
  90000,
  184000,
  123000,
  202500,
  135000,
  159550,
  113000,
  253900,
  145100,
  138000,
  86000,
  179000,
  112000,
  105000,
  80800,
  64500,
  46500,
  120750,
  85000,
  144606,
  128539,
  79400,
  55600,
  131700,
  84000,
  206000,
  106605,
  179000,
  112000,
  120750,
  85000,
  175000,
  118000,
  194000,
  122000,
  142250,
  100000,
  99000,
  87000,
  118400,
  64000,
  176000,
  72700,
  145000,
  120000,
  126225,
  61846,
  114200,
  92900,
  219700,
  137300,
  108500,
  78800,
  55328,
  42457,
  95000,
  85000,
  55555,
  44444,
  128000,
  81500,
  194500,
  125500,
  187000,
  153000,
  146000,
  128000,
  130500,
  96000,
  108100,
  60800,
  208000,
  175000,
  485000,
  280000,
  240000,
  160000,
  239000,
  177000,
  177300,
  136300,
  243000,
  163000,
  250000,
  190000,
  162000,
  128000,
  140000,
  107000,
  155700,
  75500,
  234000,
  146000,
  172000,
  75600,
  204000,
  105800,
  246000,
  132600,
  190000,
  152000,
  84105,
  76095,
  203900,
  116600,
  50666,
  29333,
  77777,
  44444,
  142200,
  116200,
  175000,
  100000,
  80000,
  52500,
  213000,
  120700,
  169200,
  130100,
  227000,
  122200,
  179000,
  140000,
  247600,
  127300,
  120529,
  96428,
  168000,
  90900,
  209000,
  171000,
  200000,
  175000,
  243000,
  192000,
  170000,
  25000,
  314100,
  169700,
  160000,
  128000,
  178500,
  156312,
  300000,
  130000,
  200000,
  180000,
  200000,
  160000,
  355000,
  213500,
  185000,
  102600,
  62500,
  110000,
  90000,
  212800,
  115100,
  202800,
  104300,
  225000,
  150000,
  129000,
  86000,
  172000,
  75600,
  265400,
  127400,
  363000,
  139800,
  175100,
  82915,
  192300,
  120200,
  155000,
  135000,
  150200,
  100100,
  220000,
  137500,
  100000,
  90000,
  165000,
  110000,
  101081,
  78108,
  285500,
  142500,
  324000,
  159000,
  150000,
  130000,
  277000,
  173000,
  137000,
  60300,
  159120,
  92240,
  225000,
  200000,
  180500,
  96200,
  245400,
  139000,
  176500,
  116600,
  208500,
  100100,
  50000,
  31250,
  222200,
  136000,
  153018,
  135000,
  303050,
  202350,
  230300,
  114700,
  190000,
  160000,
  245400,
  139000,
  108334,
  59923,
  249000,
  216000,
  340000,
  256000,
  223600,
  115000,
  250800,
  167200,
  128000,
  92000,
  189600,
  101100,
  270400,
  145600,
  137000,
  60400,
  158100,
  138500,
  188500,
  165100,
  250000,
  180000,
  160000,
  130000,
  242100,
  116200,
  126000,
  78000,
  185000,
  160000,
  172000,
  101000,
  130000,
  120000,
  138000,
  92000,
  145000,
  95000,
  175000,
  115200,
  270000,
  185000,
  267900,
  234700,
  100000,
  75000,
  260000,
  136000,
  175000,
  117000,
  143537,
  112241,
  170000,
  140000,
  205000,
  178000,
  297000,
  168300,
  110000,
  92000,
  151260,
  30000,
  237500,
  157500,
  200000,
  172750,
  65000,
  56250,
  122000,
  94000,
  240000,
  133000,
  175762,
  97254,
  250000,
  141500,
  140000,
  65000,
  82402,
  48508,
  130500,
  96000,
  150000,
  130000,
  66666,
  42222,
  245400,
  139000,
  200000,
  140000,
  223100,
  126400,
  90000,
  75000,
  180000,
  162000,
  309400,
  159100,
  175762,
  97254,
  75000,
  50000,
  145000,
  115000,
  222200,
  136000,
  245400,
  139000,
  205500,
  132500,
  144538,
  96358,
  306000,
  180000,
  222200,
  136000,
  37500,
  33750,
  130000,
  100000,
  77280,
  58000,
  264846,
  143060,
  75000,
  65000,
  172000,
  75600,
  158100,
  138500,
  283800,
  234700,
  198000,
  144000,
  220000,
  96600,
  83300,
  47500,
  118000,
  100000,
  220000,
  96600,
  132500,
  88000,
  93100,
  60000,
  135000,
  100000,
  215000,
  120000,
  62222,
  ...]}

In [64]:
var_ponderada = 0
for group in grupos:
  contagem_group, total_group, media_group, varp_group = medidas_resumo(salario_groups[group]['salaries'])
  var_ponderada = var_ponderada + contagem_group * varp_group

var_ponderada = var_ponderada/contagem

In [66]:
var_ponderada/varp #Este é o r quadrado

0.9828453389525196